@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.gray{
  color: #d3d3d3;
  font-family: 'COCOGOOSE', sans-serif;
}
.white {
  color: white;
}

.italic {
  font-family: 'Lato', sans-serif;
}

.orange {
  color: #ec5242;
}

.black {
  color: black;
}

.text-decor {
  text-align: center;
}

.under-line {
  text-decoration: underline;
}
