@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.bold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #000;
}

.light {
  font-family: 'Lato', sans-serif;
}

.semi-bold {
  font-family: 'Lato', sans-serif;
}

.white {
  color: white;
}

.italic {
  font-family: 'Lato', sans-serif;
}

.bold2 {
  font-family: 'Lato', sans-serif;
}

.orange {
  color: #ec5242;
}

.black {
  color: black;
}

.text-decor {
  text-align: center;
}

.under-line {
  text-decoration: underline;
}
